<div>
  <button type="button"
          class="btn btn-outline-primary btn-block mb-3"
          [disabled]="selectedPosts.length === 0"
          routerLink="/comments" [queryParams]="{postId: selectedPosts}">
    See comments for this posts
  </button>

  <div class="card mb-3" *ngFor="let post of posts">
    <div class="card-body">
      <h4 class="card-title">{{post.id}} - {{post.title}}</h4>
      <p class="card-text">{{post.body}}</p>
      <a [routerLink]="['/post', post.id]" class="card-link">Details</a>

      <div class="form-check mt-2">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"
                 (change)="postChecked($event, post.id)"
                 [checked]="isPostChecked(post.id)">Check comments
        </label>
      </div>
    </div>
  </div>
</div>
